[user]
	email = dvratil@kde.org
	name = Daniel Vrátil
[url "https://github.com/"]
	insteadOf = github:
[url "git@github.com:"]
	pushInsteadOf = github:

[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[url "git@git.int.avast.com:"]
        insteadOf = avast:
        pushInsteadOf = avast:
[mergetool]
        prompt = false

[merge]
	tool = vimdiff
[git-pull-request]
	fork = never
[hub]
	host = git.int.avast.com
[alias]
	rbi = rebase -i --autosquash
	fixup = !git commit --fixup $(git-commit-base)
[submodule]
#	recurse = true

[includeIf "gitdir:/data/avast/**"]
    path = ~/.gitconfig.avast
[includeIf "gitdir:/data/KDE/**"]
    path = ~/.gitconfig.kde
[core]
	excludesfile = /home/dvratil/.gitignore_global
	whitespace = trailing-space

[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[commit]
	gpgsign = true
