[user]
	email = dvratil@kde.org
	name = Daniel Vrátil
[url "https://github.com/"]
	insteadOf = github:
[url "git@github.com:"]
	pushInsteadOf = github:

[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[url "git@git.int.avast.com:"]
	insteadOf = avast:
	pushInsteadOf = avast:
[mergetool]
	prompt = false

[merge]
	tool = mergiraf

#	conflictStyle = zdiff3
[git-pull-request]
	fork = never
[hub]
	host = git.int.avast.com
[alias]
	rbi = rebase -i --autosquash
	fixup = !git commit --fixup $(git-commit-base)
[submodule]
#	recurse = true

[core]
	excludesfile = $HOME/.gitignore_global
	whitespace = trailing-space,space-before-tab
	autocrlf = false
	attributesfile = $HOME/.gitattributes

[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
[push]
	autosetupremote = true
	default = simple
	followTags = true
[blame]
	ignoreRevsFile =
[apply]
	whitespace = fix

[difftool "difftastic"]
	# See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
	cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[pager]
	difftool = true
[diff]
	tool = difftastic
	external = difft
	algorithm = histogram
	colorMoved = plain
	mnemonicprefix = true
	renames = true

[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P

[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
